@model StackOverflowClone.ViewModels.EditUserPasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h1 class="text-center font-black26 mt-3 mb-5">Change Password</h1>
<form novalidate="novalidate" action="/account/changepassword" method="post" class="needs-validation form-login mb-5">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(i => i.Email)
    <div class="d-flex flex-column align-items-start mb-4 position-relative">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control font-tag-black600 mb-2" id="password" required="required" name="Password" minlength="8"
               oninput="form.ConfirmPassword.pattern = ExpressionRegular(this.value)">
        <i class="fa-solid fa-eye-slash ps-2" id="toggle-password" style="width: 20px; height: 18px; background-color: white;"></i>
        <div class="valid-feedback font-note">
            Looks good!
        </div>
        <div class="invalid-feedback font-note">
            Passwords must contain at least eight characters, including at least 1 letter and 1 number.
        </div>
    </div>
    <div class="d-flex flex-column align-items-start mb-4 position-relative">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control font-tag-black600 mb-2" id="confirm-password" required="required" name="ConfirmPassword" minlength="8">
        <i class="fa-solid fa-eye-slash ps-2" id="toggle-password" style="width: 20px; height: 18px; background-color: white;"></i>
        <div class="valid-feedback font-note">
            Looks good!
        </div>
        <div class="invalid-feedback font-note">
            Password and Confirm password do not match.
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mb-2 mb-lg-4">
        <button type="submit" class="btn-inline-blue text-decoration-none mx-2">Change Password</button>
        <a href="/account/profile" class="btn-outline-blue text-decoration-none mx-2">Cancel</a>
    </div>
</form>

<script>
    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);

    function validate(e) {
        if ($(".needs-validation")[0].checkValidity() == false) {
            e.preventDefault();
        }
        $(".needs-validation")[0].classList.add('was-validated');
    }

    function ExpressionRegular(str) {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\[]/g, "\\$&");
    }
</script>