@model StackOverflowClone.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="content-login">
    <div class="row justify-content-center">
        <div class="col-4 d-flex flex-column justify-content-center">
            <h1 class="mb-5 fw-normal">Join the Stack Overflow community</h1>
            <div class="d-flex align-items-center mt-4 mb-4">
                <div class="mx-2">
                    <svg width="26" height="26" class="svg-icon"><path opacity=".5" d="M4.2 4H22a2 2 0 012 2v11.8a3 3 0 002-2.8V5a3 3 0 00-3-3H7a3 3 0 00-2.8 2z"></path><path d="M1 7c0-1.1.9-2 2-2h18a2 2 0 012 2v12a2 2 0 01-2 2h-2v5l-5-5H3a2 2 0 01-2-2V7zm10.6 11.3c.7 0 1.2-.5 1.2-1.2s-.5-1.2-1.2-1.2c-.6 0-1.2.4-1.2 1.2 0 .7.5 1.1 1.2 1.2zm2.2-5.4l1-.9c.3-.4.4-.9.4-1.4 0-1-.3-1.7-1-2.2-.6-.5-1.4-.7-2.4-.7-.8 0-1.4.2-2 .5-.7.5-1 1.4-1 2.8h1.9v-.1c0-.4 0-.7.2-1 .2-.4.5-.6 1-.6s.8.1 1 .4a1.3 1.3 0 010 1.8l-.4.3-1.4 1.3c-.3.4-.4 1-.4 1.6 0 0 0 .2.2.2h1.5c.2 0 .2-.1.2-.2l.1-.7.5-.7.6-.4z"></path></svg>
                </div>
                <span class="intro-item-content">Get unstuck — ask a question</span>
            </div>
            <div class="d-flex align-items-center mt-4 mb-4">
                <div class="mx-2">
                    <svg width="26" height="26" class="svg-icon"><path d="M12 .7a2 2 0 013 0l8.5 9.6a1 1 0 01-.7 1.7H4.2a1 1 0 01-.7-1.7L12 .7z"></path><path opacity=".5" d="M20.6 16H6.4l7.1 8 7-8zM15 25.3a2 2 0 01-3 0l-8.5-9.6a1 1 0 01.7-1.7h18.6a1 1 0 01.7 1.7L15 25.3z"></path></svg>
                </div>
                <span class="intro-item-content">Unlock new privileges like voting and commenting</span>
            </div>
            <div class="d-flex align-items-center mt-4 mb-4">
                <div class="mx-2">
                    <svg width="26" height="31" class="svg-icon"><path d="M14.8 3a2 2 0 00-1.4.6l-10 10a2 2 0 000 2.8l8.2 8.2c.8.8 2 .8 2.8 0l10-10c.4-.4.6-.9.6-1.4V5a2 2 0 00-2-2h-8.2zm5.2 7a2 2 0 110-4 2 2 0 010 4z"></path><path opacity=".5" d="M13 0a2 2 0 00-1.4.6l-10 10a2 2 0 000 2.8c.1-.2.3-.6.6-.8l10-10a2 2 0 011.4-.6h9.6a2 2 0 00-2-2H13z"></path></svg>
                </div>
                <span class="intro-item-content">Save your favorite questions, answers, watch tags, and more</span>
            </div>
            <div class="d-flex align-items-center mt-4 mb-4">
                <div class="mx-2">
                    <svg width="26" height="26" class="svg-icon"><path d="M21 4V2H5v2H1v5c0 2 2 4 4 4v1c0 2.5 3 4 7 4v3H7s-1.2 2.3-1.2 3h14.4c0-.6-1.2-3-1.2-3h-5v-3c4 0 7-1.5 7-4v-1c2 0 4-2 4-4V4h-4zM5 11c-1 0-2-1-2-2V6h2v5zm11.5 2.7l-3.5-2-3.5 1.9L11 9.8 7.2 7.5h4.4L13 3.8l1.4 3.7h4L15.3 10l1.4 3.7h-.1zM23 9c0 1-1 2-2 2V6h2v3z"></path></svg>
                </div>
                <span class="intro-item-content">Earn reputation and badges</span>
            </div>
        </div>
        <div class="col-3">
            <form novalidate="novalidate" action="/account/signup" method="post" class="needs-validation form-login mb-5">
                @Html.AntiForgeryToken()
                <div class="d-flex flex-column align-items-start mb-3">
                    <label for="display-name" class="form-label">Display name</label>
                    <input type="text" class="form-control font-tag-black600" required="required" name="Name" pattern="^[a-zA-Z ]*$" id="display-name" autofocus="autofocus">
                    <div class="valid-feedback font-note">
                        Looks good!
                    </div>
                    <div class="invalid-feedback font-note">
                        Please enter display name.
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start mb-3">
                    <label for="phone-number" class="form-label">Phone number</label>
                    <input type="text" class="form-control font-tag-black600" required="required" name="PhoneNumber"
                           pattern="^(0|\+84)(\s|\.)?((3[2-9])|(5[689])|(7[06-9])|(8[1-689])|(9[0-46-9]))(\d)(\s|\.)?(\d{3})(\s|\.)?(\d{3})$"
                           id="phone-number">
                    <div class="valid-feedback font-note">
                        Looks good!
                    </div>
                    <div class="invalid-feedback font-note">
                        Please enter phone number.
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control font-tag-black600" name="Email" required="required" id="email">
                    <div class="valid-feedback font-note">
                        Looks good!
                    </div>
                    <div class="invalid-feedback font-note">
                        Please enter email.
                    </div>
                    <small class="email-exist text-danger font-note" style="font-size: 9px;"></small>
                </div>
                <div class="d-flex flex-column align-items-start mb-3 position-relative">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control font-tag-black600 mb-2" id="password" required="required" name="Password" minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                    <i class="fa-solid fa-eye-slash ps-2" id="toggle-password" style="width: 18px; height: 15px; background-color: white; box-shadow: 0px 1px 4px 6px white;"></i>
                    <div class="valid-feedback font-note">
                        Looks good!
                    </div>
                    <p class="font-tag-black600">Passwords must contain at least eight characters, including at least 1 letter and 1 number.</p>
                </div>
                <div class="d-flex align-items-center mb-2 mb-lg-4">
                    <button type="submit" class="btn-inline-blue-full-width text-decoration-none">Sign Up</button>
                </div>
                <p class="font-tag-black600">By clicking “Sign up”, you agree to our terms of service and acknowledge you have read our privacy policy.</p>
            </form>
            <div class="mb-3 text-center">
                <span class="font-tag-black600">Already have an account? </span>
                <a href="./login.html" class="font-tag-black600 fc-blue-hover text-decoration-none">Log in</a>
            </div>
            <div class="mb-3 text-center">
                <span class="font-tag-black600">Are you an employer? </span>
                <a href="#" class="font-tag-black600 fc-blue-hover text-decoration-none">Sign up on Talent</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);

    function validate(e) {
        if ($(".needs-validation")[0].checkValidity() == false || $(".email-exist").text() != "") {
            e.preventDefault();
        }
        $(".needs-validation")[0].classList.add('was-validated');
    }

    $("#email").blur(function () {
        $.ajax({
            url: "/api/account?email=" + $("#email").val(),
            type: "GET",
            success: function (response) {
                if (response == "Not Found") {
                    $(".email-exist").text("");
                    $(".email-exist").closest(".d-flex").find(".valid-feedback").css("color", "#28a745");
                }
                else {
                    $(".email-exist").text("Email already registered");
                    $(".email-exist").closest(".d-flex").find(".valid-feedback").css("color", "white");
                }
            },
            error: function () { }
        });
    });
</script>