.content-section {
  margin-top: 5.3rem;
  font-family: "Source Sans Pro", sans-serif !important;
}

.content-section-1 {
  padding: 4.8rem;
  position: relative;
  text-align: center !important;
}
.content-section-1 .content-intro {
  background-color: #0c0d0e;
  border-radius: 0.8rem;
  padding: 3.2rem 3.2rem 12.8rem 3.2rem;
}

.flex-alliitem > .intro-box {
  flex-basis: 50%;
}

.intro-box {
  margin: 1.6rem;
}
.intro-box .intro-item {
  border-radius: 0.8rem 0.8rem 0 0.8rem;
  background-color: #fbdbc1;
  padding: 2.4rem;
  height: 100%;
}
.intro-box .intro-item svg {
  margin-bottom: 1.6rem;
}
.intro-box .intro-item svg path {
  fill: #e7710c;
}
.intro-box .intro-item h2 {
  max-width: 31.6rem;
  font-size: 1.9rem;
}
.intro-box .intro-item p {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #3b4045;
}
.intro-box .intro-item p a {
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #3b4045;
}
.intro-box .intro-item p a:hover {
  color: #a24f08;
}

.intro-box:last-child .intro-item {
  background-color: #d7e8fb;
  border-radius: 0.8rem 0.8rem 0.8rem 0;
}
.intro-box:last-child .intro-item svg {
  margin-bottom: 1.6rem;
}
.intro-box:last-child .intro-item svg path {
  fill: #1a75d1;
}

.box-arrow--left::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 0 0.5rem 0;
  top: 99%;
  left: 0;
  clip-path: polygon(18px 0, 32px 0, 0 40px, 0 38px, 0 0, 18px 0);
  background-color: #d7e8fb;
  width: 3.2rem;
  height: 3.2rem;
}

.box-arrow--right::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 0 0.5rem 0;
  top: 99%;
  right: 0;
  clip-path: polygon(18px 0, 32px 0, 0 40px, 0 38px, 0 0, 18px 0);
  background-color: #fbdbc1;
  transform: scaleX(-1);
  width: 3.2rem;
  height: 3.2rem;
}

.left-sidebar {
  width: 17rem;
}
.left-sidebar .sidebar-menu {
  padding: 0;
  padding-top: 1.8rem;
  max-height: calc(100vh - 5.3rem);
  overflow-y: auto;
}
.left-sidebar li {
  padding: 0.4rem 0.8rem;
  padding-left: 1rem;
  list-style: none;
}
.left-sidebar li .sidebar-item {
  text-decoration: none;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #3b4045;
}
.left-sidebar li:hover {
  background-color: #f0f2f2;
}
.left-sidebar li:hover i {
  color: #0c0d0e;
}
.left-sidebar li:focus {
  color: #0c0d0e;
  font-weight: 700;
}
.left-sidebar i {
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #3b4045;
}

.sidebar-menu::-webkit-scrollbar {
  width: 1rem;
}

.sidebar-menu::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.sidebar-menu::-webkit-scrollbar-thumb {
  background-color: #cdcccd;
  border-radius: 5rem;
}

.sidebar-item-content {
  padding: 1rem 0.6rem 0 0.8rem;
  margin-bottom: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.sidebar-item-content p {
  font-size: 1.2rem;
  color: #3b4045;
}
.sidebar-item-content .item-content-btn {
  background-color: #e7710c;
  color: #f8fbfa;
  width: 100%;
  font-size: 1.2rem;
  border: 0;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.sidebar-item-content .item-content-link {
  color: #636B74;
  font-size: 1.2rem;
  padding: 0.7rem;
  width: 100%;
}

.list-question {
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.list-question .content-link-question {
  color: #1a75d1;
  font-size: 1.7rem;
  line-height: 2.2rem;
  text-decoration: none;
}
.list-question .content-link-question:hover {
  color: #145ca3;
}
.list-question .question-author {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.list-question p {
  margin-bottom: 0.5rem;
}

.content-question-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.content-note-link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #242729;
}

.content-login {
  padding: 2.4rem;
  background-color: #f1f2f3;
  width: 100%;
  height: 100vh;
}
.content-login span {
  color: #3b4045;
}

.svg-icon {
  fill: #1a75d1;
}

.intro-item-content {
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 0.8rem;
  color: #242729;
  font-size: 1.6rem;
}

.form-login {
  background-color: #f8fbfa;
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-login label {
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #3b4045;
  font-weight: 700;
  font-size: 1.5rem;
}
.form-login input {
  padding: 0.8rem 0.9rem;
  border: 0.1rem solid #d5d8da;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.form-login p {
  font-size: 1.1rem;
}

#toggle-password {
  position: absolute;
  top: 4rem;
  right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 100;
}

.avatar-frame {
  border: 0.1rem solid #d5d8da;
  background-color: linear-gradient(to bottom, #636B74, white);
  padding: 1.8rem;
  border-radius: 0.6rem;
  height: 20rem;
  width: 18rem;
}

.form-edit-profile {
  background-color: #f8fbfa;
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-edit-profile label {
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #3b4045;
  font-weight: 700;
  font-size: 1.5rem;
}
.form-edit-profile input {
  height: 3.3rem;
  padding: 0.78rem 0.9rem;
  border: 0.1rem solid #babfc5;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #242729;
  border-radius: 0.6rem;
}

.content-filter-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 10000;
  flex-grow: 1;
}
.content-filter-form .content-search-input-wrap {
  flex-grow: 1;
  height: 3.6rem;
}
.content-filter-form .content-search-input-wrap .content-search-input-icon {
  position: absolute;
  top: 25%;
  fill: #636B74;
  margin-left: 0.8rem;
}
.content-filter-form .content-search-input-wrap input {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #242729;
  border: 0.1rem solid #babfc5;
  border-radius: 0.6rem;
  padding: 0.7rem 0.9rem 0.7rem 3.4rem;
}
.content-filter-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.content-search-input-wrap {
  position: relative;
}

.content-tags-details {
  border: 0.1rem solid #babfc5;
  border-radius: 0.6rem;
  padding: 1.6rem 1.2rem 1.2rem 1.2rem;
}

.content-tags-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.content-question-title {
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 3.6rem;
  font-size: 2.7rem;
  color: #242729;
}

.content-vote-count {
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #242729;
  font-size: 1.9rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.question-user-info {
  background-color: #edf5fd;
  width: 20rem;
  height: 6.8rem;
  padding: 0.5rem 0.6rem 0.7rem 0.7rem;
  border-radius: 0.6rem;
  margin: 0.4rem 0;
}
