.navbar {
  width: 100%;
  height: 5.3rem;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 0.1rem solid #e2e6e9;
  border-top: 0.2rem solid #e7710c !important;
  background-color: #f8fbfa;
}

.nav-btn-bars {
  height: 100%;
  cursor: pointer;
  position: relative;
}
.nav-btn-bars:hover {
  background-color: #e2e7e8;
}

.nav-btn-bars.show {
  background-color: #e2e7e8;
}
.nav-btn-bars.show .icon-menu .icon-line:nth-of-type(1) {
  transform: rotateZ(-45deg) translate(-0.3rem, 0.3rem);
}
.nav-btn-bars.show .icon-menu .icon-line:nth-of-type(2) {
  display: none;
}
.nav-btn-bars.show .icon-menu .icon-line:nth-of-type(3) {
  transform: rotateZ(45deg) translate(-0.1rem, -0.1rem);
}

.icon-menu {
  width: 3.8rem;
  height: inherit;
  padding: 2rem 1.1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.5s;
}
.icon-menu .icon-line {
  background-color: #636B74;
  height: 0.2rem;
  width: 100%;
  margin-top: 0.15rem;
  margin-bottom: 0.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-item {
  padding: 0.6rem;
}
.nav-item .nav-link {
  padding: 0;
}
.nav-item:hover {
  background-color: #e2e7e8;
  border-radius: 10rem;
}

.nav-left-sidebar .dropdown-menu {
  width: 24rem;
  padding-top: 2.4rem;
  max-height: calc(100vh - 5.3rem);
  overflow-y: auto;
}
.nav-left-sidebar li {
  padding: 0.4rem 0.8rem;
  padding-left: 0;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #3b4045;
}
.nav-left-sidebar .dropdown-item:hover {
  background-color: #f0f2f2;
}
.nav-left-sidebar .dropdown-item:hover i {
  color: #0c0d0e;
}
.nav-left-sidebar .dropdown-item:focus {
  color: #0c0d0e;
  font-weight: 700;
}
.nav-left-sidebar i {
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #3b4045;
}

.dropdown-menu::-webkit-scrollbar {
  width: 1rem;
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #cdcccd;
  border-radius: 5rem;
}

.hidden {
  display: none;
}

.nav-search-input-wrap {
  position: relative;
}

.nav-search-form {
  width: 100%;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 10000;
  flex-grow: 1;
}
.nav-search-form .nav-search-input-wrap {
  flex-grow: 1;
  height: 3.2rem;
}
.nav-search-form .nav-search-input-wrap .nav-search-input-icon {
  position: absolute;
  top: 25%;
  fill: #636B74;
  margin-left: 0.6rem;
}
.nav-search-form .nav-search-input-wrap input {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  border: 0.1rem solid #d5d8da;
  border-radius: 0.6rem;
}
.nav-search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.nav-search-input:focus ~ .nav-search-hints {
  display: block;
}

.nav-search-hints {
  position: absolute;
  background-color: #f8fbfa;
  width: 100%;
  top: calc(100% + 1.2rem);
  left: 0;
  right: 50%;
  border-radius: 0.6rem;
  box-shadow: 0 0.1rem 0.5rem rgb(202, 202, 202);
  display: none;
  z-index: 1;
}
.nav-search-hints .div-arrow {
  content: "";
  position: absolute;
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  right: 50%;
  top: -0.6rem;
  background-color: #f8fbfa;
  border-radius: 0.1rem;
  transform: rotate(45deg);
  box-shadow: -0.1rem -0.1rem 0.1rem 0 #e2e6e9;
  z-index: -1;
}

.div-arrow::after {
  content: "";
  position: absolute;
  border-width: 0.66rem 0.66rem;
  border-style: solid;
  border-color: transparent #f8fbfa #f8fbfa transparent;
  border-radius: 0.1rem;
}

.nav-search-tag,
.nav-search-askQues {
  padding: 1.2rem;
}

.nav-search-askQues {
  border-top: 0.1rem solid #e2e6e9;
}
.nav-search-askQues button {
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.nav-search-askQues a {
  color: #1a75d1;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.nav-search-askQues a:hover {
  color: #145ca3;
}

.item-content {
  padding: 1.6rem 3.2rem 0 3.2rem;
  margin-bottom: 1.6rem;
}
.item-content p {
  font-size: 1.2rem;
  color: #3b4045;
}
.item-content .item-content-btn {
  background-color: #e7710c;
  color: #f8fbfa;
  width: 100%;
  font-size: 1.2rem;
  border: 0;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.item-content .item-content-link {
  color: #636B74;
  font-size: 1.2rem;
  padding: 0.7rem;
  width: 100%;
}

.nav-link-profile {
  width: 12rem;
  height: 5.2rem;
  font-size: 1.3rem;
  color: #636B74;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link-profile .img-avatar {
  height: 2.4rem;
  width: 2.4rem;
}
.nav-link-profile:hover {
  background-color: #e2e7e8;
  color: #0c0d0e;
}
