//Color---------------------------------
$primary-color: #e7710c;
$secondary-color: #1a75d1;
$blue-white: #d7e8fb;
$blue-dark: #145ca3;
$purple: #2a2d6f;
$yellow: #FFB501;
$orange-white: #fbdbc1;
$orange-dark: #a24f08;
$gray: #BBC0C4;
$gray-font: #636B74;
$gray-light: #e2e6e9;
$gray-hover: #e2e7e8;
$gray-hover-sidebar:#f0f2f2;
$gray-black: #3b4045;
$gray-border: #d5d8da;
$gray-scrollbar: #cdcccd;
$gray-focus: #0c0d0e;
$black: #242729;
$white: #f8fbfa;


//Fonts---------------------------------
$font-primary: "Source Sans Pro", sans-serif;
$font-secondary: "Robotos Slab", sans-serif;
$font-tag: 'Cascadia Mono', 'Segoe UI', monospace;
$font-size: 62.5%;
